{% extends 'base.html' %}

{% block menu %}
{#    <li><a href="{% url 'task_add' %}">Добавить товар</a></li>#}
{% endblock %}

{% block content %}
    <h1>Список товаров:</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Категория</th>
                <th scope="col">Остаток</th>
                <th scope="col">Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{% url 'product_detail' product.pk %}">{{ product.name}}</a></td>
                    <td>{{ product.description }}</td>
                    <td class="change_category">{{ product.get_category_display }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.price }} сом</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}