{% extends 'base.html' %}

{% block title %}Товар{% endblock %}
{% block menu %}
    <li><a href="{% url 'product_edit' product.pk %}">Обновить</a></li>
    <li><a href="{% url 'product_delete' product.pk %}">Удалить</a></li>
{% endblock %}
{% block content %}
    <div class="card text-white bg-dark" style="width: 100%;">
        <div class="card-header">{{ product.name }}</div>
        <ul class="list-group list-group-flush text-dark">
            <li class="list-group-item"><b>Категория: </b>{{ product.get_category_display }}</li>
            <li class="list-group-item" style="white-space: pre-wrap"><b>Описание: </b>{{ product.description }}</li>
            <li class="list-group-item"><b>Остаток: </b>{{ product.amount }}</li>
            <li class="list-group-item"><b>Цена: </b>{{ product.price }} сом</li>
        </ul>
    </div>
{% endblock %}